.language-eno .token.name {
	color: #ff5370;
}

.language-eno .token.section-1st {
	color: #ffb500;
}

.language-eno .token.section-2nd {
	color: #ff3f00;
}

.language-eno .token.section-3rd-plus {
	color: #ff00ac;
}

.language-eno .token.template {
	color: #b2d218;
}
