.language-eno .token.append {
	color: #ff5370;
}

.language-eno .token.entry {
	color: #5978e2;
}

.language-eno .token.name {
	color: #ff5370;
}

.language-eno .token.section-1st,
.language-eno .token.escaped-section-1st {
	color: #ffb500;
}

.language-eno .token.section-2nd,
.language-eno .token.escaped-section-2nd {
	color: #ff3f00;
}

.language-eno .token.section-3rd-plus,
.language-eno .token.escaped-section-3rd-plus {
	color: #ff00ac;
}

.language-eno .token.template {
	color: #b2d218;
}

.language-eno .token.block {
	color: #ff5370;
}

.language-eno .token.block-content  {
	color: black;
}
